.root {
  display: flex;
  flex-wrap: wrap;

  .newTask,
  .todoList {
    position: relative;
    width: 100%;
    border: 1px solid #000000;
  }

  .newTask {
    @apply pt-3;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .todoList {
    @apply flex flex-col border-l-0 pt-3;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .root {
    flex-direction: column;

    .newTask,
    .todoList {
      flex: 1 1 0%;
      max-width: 100%;
    }

    .todoList {
      @apply border-l border-t-0;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media only screen and (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media only screen and (max-width: 1400px) {
}
